body {
  all: unset;
  background-color: #1a1a1aff;
  color: rgb(164, 164, 164);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.flexWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
}
.section {
  min-height: 20svh;
}
#main {
  min-width: 90%;
}
.hero {
  z-index: -1;
  position: relative;
}
#heroWaveImg {
  width: 100%;
  padding-top: 30svh;
  vertical-align: middle;
  position: absolute;
  background-color: rgb(125, 125, 125);
}
.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
  grid-template-areas:
    "area1 area1 area2 area2 area3 area3"
    "area1 area1 area2 area2 area3 area3"
    "area4 area4 area5 area5 area6 area6"
    "area4 area4 area5 area5 area6 area6"
    "area7 area7 area8 area8 area9 area9"
    "area7 area7 area8 area8 area9 area9";
}
.grid > div {
  background-color: bisque;
}
.glass {
  width: inherit;
  height: 90svh;
  background-color: aliceblue;
  border-radius: 20px 50px 100px 200px;
  margin-bottom: 10svh;
}
